{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center">Acerca de nosotros</h1>

<div class="media">
    <a href="https://www.linkedin.com/in/daniel-franco-346485ba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
        <img src="{% static './Imagenes/danielfranco.jfif' %}" class="align-self-start mr-3" style="width:200px;border-radius: 50%;">
    </a>
    <div class="media-body">
      <h4>Daniel Franco</h4>
      <p>Soy un apasionado estudiante de Ingeniería Informática en la Universidad de La Matanza, donde he estado inmerso en un ambiente académico en constante búsqueda de conocimiento y desarrollo. Además, cuento con una sólida experiencia laboral de más de 4 años en el campo de la tecnología como desarrollador. Durante este tiempo, he tenido la oportunidad de trabajar en diversos proyectos que han fortalecido mis habilidades y ampliado mi visión en el ámbito informático. Actualmente, formo parte del equipo de Clarín, desempeñándome en el sector comercial. En esta posición, tengo la oportunidad de aplicar mis habilidades técnicas y mi comprensión del análisis de datos para contribuir al desarrollo de estrategias comerciales efectivas. </p>
    </div>
</div>

<div class="media">
    <a href="https://www.linkedin.com/in/matiasfranco?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
        <img src="{% static './Imagenes/matiasfranco.jpg' %}" class="align-self-start mr-3" style="width:200px;border-radius: 50%;">
    </a>
    <div class="media-body">
      <h4>Matias Franco</h4>
      <p>Tengo un amplio conocimiento en WordPress, habiendo adquirido experiencia a lo largo de mi carrera en diversos roles. Comencé como traffic, encargándome de gestionar el tráfico y las visitas en sitios web. Posteriormente, asumí el rol de traffic manager and media intelligent, donde no solo supervisé el tráfico web, sino que también implementé estrategias de gestión de medios digitales para optimizar el alcance y la eficacia de la presencia en línea.

        A lo largo de mi trayectoria, también me desempeñé como webmaster, encargado de mantener y mejorar la funcionalidad y el rendimiento de los sitios web, asegurando una experiencia del usuario fluida y eficiente. Mi habilidad para trabajar en entornos dinámicos y adaptarme rápidamente a nuevas tecnologías me ha permitido evolucionar en mi carrera de manera continua.
        
        Actualmente, me encuentro en el rol de subgerente de producto comercial, donde lidero iniciativas estratégicas para impulsar el crecimiento y la rentabilidad en el ámbito comercial. Mi experiencia previa en la gestión de tráfico y la optimización web me brinda una perspectiva única para desarrollar soluciones efectivas que satisfagan las necesidades del mercado y generen resultados tangibles para la empresa.</p>
    </div>
</div>


{% endblock %}